@CHARSET "ISO-8859-1";

* {
	box-sizing: border-box;
}



#foodllc {
	background-color: #c0c0c0;
	border: 2px solid;
}

section {
	margin: 5px;
	border: 1px solid black;
	background-color: #c0c0c0;
}
p {
	margin: 1px;
	padding: 2px;
}

.colo{
	background-color: #c0c0c0;
}

#food{
	font-size : 35px;
}
nav li{
	background-color:white;
}

nav li:hover{
	background-color:#ff8080;
}